# Ignore node_modules and logs
node_modules
npm-debug.log

# Ignore all files and directories in the root that aren't needed for the build
.git
.gitignore
README.md
Dockerfile
docker-compose.yml

# Ignore local environment variables and build output
.env
build