@import "../variables";

.boxes-page-container {
  display: flex;
  flex-direction: column;
  padding: $padding-medium $padding-xm;
  .providers-page-search-dropdown-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .subscriptionbox-categories-container {
      display: grid;
      grid-auto-flow: column; /* Places items in a horizontal flow */
      grid-auto-columns: minmax(
        min-content,
        max-content
      ); /* Column size adjusts between min and max content size */
      grid-template-rows: repeat(
        2,
        minmax(50px, auto)
      ); /* Ensures minimum row height */
      overflow-x: auto; /* Enable horizontal scrolling */
      overflow-y: hidden; /* Prevent vertical scrolling */
      column-gap: 8px;
      margin: 16px 0px;
      -webkit-overflow-scrolling: touch; /* Better scrolling on iOS devices */
      padding-right: 100px; /* Optional padding to ensure there's a bit of the next item showing */

      > div:nth-child(odd) {
        grid-row: 1; /* First row for odd children */
      }
      > div:nth-child(even) {
        grid-row: 2; /* Second row for even children */
      }
    }
  }
  .boxes-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}
