@import "../variables";

.provider-page-container {
  display: flex;
  flex-direction: column;
  padding: $padding-medium $padding-xm;

  .back-to-providers-container {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 20px;
    > svg {
      height: 20px;
    }
    .go-back-text {
      font-size: $font-size-medium;
    }
  }

  .boxes-container {
    display: flex;
    flex-direction: column;
    margin: 60px 0px;
    gap: 60px;
  }
  .dropdown-create-box-container {
    display: flex;
    gap: 16px;
    > button {
      background-color: #8b5dff;
      width: 40%;
    }
  }
  .custom-box-text-button-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    margin-top: 20px;
    > button {
      background-color: #8b5dff;
    }
  }
}
