@import "../variables";

.button-with-icon {
  width: 100%;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 18px;
  background: $primary-green;
  gap: 16px;
  cursor: pointer;
  color: $white;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  .button-with-icon-text {
    text-align: center;
    font-size: $font-size-xs;
    font-weight: 600;
    text-transform: uppercase;
  }
}
