@import "../variables";

.provider-card-container {
  display: flex;
  flex-direction: column;
  width: 140px;
  overflow: hidden;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: $white;
  img {
    width: 100%;
    height: 100px;
    object-fit: cover; /* Crops the image to fit without stretching */
    margin-bottom: 10px;
  }
  .provider-card-title {
    color: $primary-text;
    font-size: $font-size-medium;
    line-height: 24px;
    font-weight: 600;
  }
  .provider-card-category {
    display: none;
  }
}
