@import "../variables";

.search-container {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 24px;
  background: $white;
  padding: $padding-small;
}
input[type="text"] {
  font-size: $font-size-small;
  border: none;
}
input:focus {
  outline: none;
}
