$font-size-xs: 14px;
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 22px;
$font-size-xl: 30px;
$padding-small: 8px;
$padding-medium: 16px;
$padding-xm: 20px;
$padding-large: 24px;
$border-radius: 8px;
$card-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
$background-color: #dbd8dd;
$primary-green: #0bce83;
$primary-text: #2d0c57;
$secondary-text: #9586a8;
$border-color: #d9d0e3;
$white: #ffffff;
